<!DOCTYPE html>
<html>
<head>
	<title>GeSoc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<style type="text/css">
		body{
			background-color: #AFBBF2;

		}
		th{
			text-align: center;
		}
		label{
			margin-right: 10px;
		}
		.opciones{
			margin-top: 2%;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 	 <div class="container">
 	 	
 	 		<div class="col">
 	 			<div class="dropdown navbar-header">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <label>Acciones</label><span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="/ingresos">Ingresos</a>
				    <a class="dropdown-item" href="/egresos">Egresos</a>
				    <a class="dropdown-item" href="/presupuestos">Presupuestos</a>
				  </div>
				</div>
 	 		</div>
 	 		<div class="col col-lg-2">
 	 			<a href="#"> <button type="button" class="btn btn-info"><span class="fas fa-user"></span>Panel Usuario</button></a>
 	 		</div>
 	 		<div class="col col-lg-2">
 	 			<a href="/logout"> <button type="button" class="btn btn-warning"><span class="fas fa-arrow-alt-circle-right"></span>Cerrar Sesion</button></a>
 	 		</div>
 	 
    </div>
	</nav> 
	<div class="container opciones">
		<div class="container">
			<div class="row">
			    <div class="col">
			      <div class="input-group mb-3">
				      <label for="pwd">Categoria:</label>
				      <select class="custom-select">
					    <option selected>Choose...</option>
					    <option value="1">One</option>
					    <option value="2">Two</option>
					    <option value="3">Three</option>
					  </select>
				  </div>
			    </div>
			    <div class="col">
			      <div class="input-group mb-3">
				      <label for="pwd">Criterio:</label>
				      <select class="custom-select">
					    <option selected>Choose...</option>
					    <option value="1">One</option>
					    <option value="2">Two</option>
					    <option value="3">Three</option>
					  </select>
				  </div>
			    </div>
			
			    <div class="col ">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
				  Cargar Egreso
				</button>
				<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle">Carga de Egreso</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="container">

						  <form action="/egresos" method="post" id="formulario">
						  	<div id="myOtros">
						  	<div class="container">
						  		<div class="row">
						  			<div class="col">
						  				<div class="form-group">
									      <label for="nmeg">Nombre Egreso:</label>
									      <input type="text" class="form-control" name="nombreEgreso" id="nombreEgreso" required>
									    </div>
									    <div class="col">
										<div class="form-group">
									      <label for="presupuestosRequeridos">Cantidad de Presupuestos Requeridos:</label>
									      <input type="number" class="form-control" name="presupuestosRequeridos">
									    </div>
									    <div class="col">
												<label for="moneda">Seleccionar Moneda:</label>
												<select name="moneda" required>
													<option>Seleccione moneda...</option>
													{{#each moneda}}
													<option>{{description}} - {{symbol}}</option>
													{{/each}}
												</select>
											</div>
									</div>
									</div>
								</div>
						  	</div>

						

						    <div class ="container">
								<h2>Proveedor</h2>
								<div class="row">
									<div class="col">
										<div class="form-group">
									      <label for="usr">Nombre:</label>
									      <input type="text" class="form-control" name="nombreProveedor" required>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group" id="div-pais">
									      <label for="idpais">Pais:</label>
									      <select name="pais" id="idpais" required>
									      	<option>Seleccione pais...</option>
									      	{{#each pais}}
											<option>{{id}}</option>
											{{/each}}
									      </select><br>
									    </div>
									</div>
									<div class="col">
										<div class="form-group" id="div-provincia">
											<label for="provincia">Provincia:</label>
											<select name="Provincia" id="provincia" required>
												<option>Seleccione provincia...</option>
											</select>
										</div>
									</div>
									<div class="col">
										<div class="form-group" id="div-ciudad">
											<label for="ciudad" >Ciudad:</label>
											<select name="ciudad" id="ciudad" required>
												<option>Seleccione ciudad...</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
											<label for="calle">Calle:</label>
											<input type="text" name="calle" class="form-control" >
										</div>
										<div class="col">
											<div class="form-group">
												<label for="altura">Altura:</label>
												<input type="text" name="altura" class="form-control" >
											</div>
										</div>
										<div class="col">
											<div class="form-group">
												<label for="piso">Piso:</label>
												<input type="text" name="piso" class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class ="container">
							<h2>Medio de Pago</h2>
						        <div class="row">
						        	<div class="col">
						        		<div class="form-group">
									      <label for="medio">Tipo:</label>
									      <select name="medio" id="medio" required>
          										<option class="u26_input_option" value="Seleccione Medio de Pago...">Seleccione Medio de Pago...</option>
          										<option class="u26_input_option" value="Tarjeta de Credito">Tarjeta de Credito</option>
          										<option class="u26_input_option" value="Tarjeta de Debito">Tarjeta de Debito</option>
          										<option class="u26_input_option" value="Efectivo">Efectivo</option>
        									</select>
									    </div>
						        	</div>
				
						        </div>
						        <div class="row">
						        	<div class="col">
						        		<div class="form-group" id="identificador">
									      <label for="idTarjeta">Identificador:</label>
									      <input type="password" name="identificador" class="form-control" id="idTarjeta" value="123456789" required>
									    </div>
						        	</div>
						        	
						        </div> 
							</div>

							<div class ="container">
							<h2>Documento comercial</h2>
								<div class="row">
									<div class="col">
										<div class="form-group">
									      <label for="usr">Identificador:</label>
									      <input type="text" class="form-control" name="identificadorDoc" required>
									    </div>
									</div>
									<div class="col">
										<div class="form-group">
									      <label for="pwd">Importe:</label>
									      <input type="text" class="form-control" name="importeDoc" required>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-group">
									      <label for="pwd">Detalle:</label>
									      <input type="text" class="form-control" name="detalle" required>
									    </div>
									</div>
									<div class="col">
										<div class="form-group">
									      <label for="pwd">Fecha de emision:</label>
									      <input type="date" class="form-control" name="fechaEmision" required>
									    </div>
									</div>
								</div>
							</div>
						</div>
							<div id="myItems">						
								<h2>Items</h2>
								<div id="containterItem" class ="container item">
									<div id="item">
										<h5>Item 1</h5>
										<div class="row">
											<div class="col">
												<div class="form-group">
											      <label for="nombreProducto1">Nombre:</label>
											      <input type="text" class="form-control" name="nombreProducto1" required>
											    </div>
											</div>
											<div class="col">
												<div class="form-group">
											      <label for="descripcion1">Descripcion:</label>
											      <input type="text" class="form-control" name="descripcion1" required>
											    </div>
											</div>
											<div class="col">
												<div class="form-group">
											      <select class="custom-select" name="tipoArticulo" id="tipoArticulo">
											      	<option>Producto</option>
											      	<option>Servicio</option>
											      </select>
											    </div>
											</div>
											<div class="col">
												<div class="form-group">
											      <label for="cantidad1">Cantidad:</label>
											      <input type="number" class="form-control" name="cantidad1" required>
											    </div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<div class="form-group">
											      <label for="precio1">Importe por Unidad:</label>
											      <input type="number" step="0.1" class="form-control" name="precio1" required>
											    </div>
											</div>
										
											
											
										</div>
									</div>   
								</div>  
							</div>
						</div><!--fin container myItem -->
							<div class="container">
								<input type="text" name="contador" id="contador" value="1" style="display: none;">
								<button type="button"  id="btnPasarAItems" class="btn btn-primary">Pasar a Items</button>
								<button type="button"  id="btnVolverDeItems" class="btn btn-primary">Volver de Items</button>
								<button type="button"  id="btnAgregarItem" class="btn btn-primary">Agregar Item</button>
								<button type="submit" class="btn btn-primary">Cargar Egreso</button>
								<label><input type="checkbox" name="serRevisor" id="serRevisor" value="si">Ser Revisor</label>

							</div>
						  </form>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				      </div>
				    </div>
				  </div>
				</div>
				</div>
			</div>
			</div>
				<div class="container">
			      <table class="table table-hover">
					  <thead class="thead-dark">
					    <tr>
					      
					      <th scope="col">Fecha Egreso</th>
					      <th scope="col">Valor Total</th>
					      <th scope="col">Documento</th>
					      <th scope="col">Articulos</th>
					      <th scope="col">Medio de Pago</th>
					      <th scope="col">Presupuestos Requeridos</th>
					      <th scope="col">Cantidad de Presupuestos Requeridos</th>
					      <th scope="col">Ingresos Asociados</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<input type="text" name="egresoID" id="egresoID" style="display: none;">
					  	{{#each opEg}}
					    <tr>
					 	
					      <td>{{fechaEgreso}}</td>
					      <td>{{valorTotalOp}}</td>
					      <td><input type="file" name="rutaDoc" accept=".pdf" onchange="cargarDocumento('{{id}}',this)">
					      		<a href="'{{documentoComercial.rutaDoc}}'" download="Documento Comercial - '{{documentoComercial.identificadorDoc}}'"
					      		 {{#unless documentoComercial.identificadorDoc}}disabled{{/unless}}>{{#if documentoComercial.rutaDoc}} Descargar Archivo{{else}}Documento Comercial no cargado{{/if}}</a></td>
					      <td>
							  <select class="custom-select">
							    <option selected>Choose...</option>
							    {{#each articulos}}
							    <option value="1">{{nombre}}</option>
							    {{/each}}
							  </select>
						  </td>
					      <td>{{#with medioDePago}}{{descripcion}}{{/with}}</td>
					      <td>
					      	<select class="custom-select">
							    <option selected>Choose...</option>
							    <option value="1">One</option>
							    <option value="2">Two</option>
							    <option value="3">Three</option>
						    </select>
						  </td>
					      <td>{{cantPresupuestosRequeridos}}</td>
					      <td>
					      	<select class="custom-select">
							    <option selected>Choose...</option>
							    <option value="1">One</option>
							    <option value="2">Two</option>
							    <option value="3">Three</option>
							  </select>
						  </td>
					    </tr>
					    {{/each}}					    
					  </tbody>
					</table>
			    </div>
			    
	</div>
	<script>
		var c=1;
		$(document).ready(function(){
			$("#myItems").hide();
			$("#btnAgregarItem").hide();
			$("#btnVolverDeItems").hide();
			$("#div-provincia").hide();
			$("#div-ciudad").hide();
		});
		$("#btnAgregarItem").click(function () {

			  c += 1;
			  document.getElementById("contador").value = c;
			  $('#containterItem').append(
					'<div id="item'+c+'">'+
				'<h5>Item '+c+'</h3>'+
				'<div class="row">'+
					'<div class="col">'+
						'<div class="form-group">'+
					      '<label for="nombreProducto'+c+'">Producto:</label>'+
					     ' <input type="text" class="form-control" id="pwd" name="nombreProducto'+c+'" required>'+
					    '</div>'+
					'</div>'+
					'<div class="col">'+
						'<div class="form-group">'+
					      '<label for="descripcion">Descripcion:</label>'+
					     ' <input type="text" class="form-control" id="pwd" name="descripcion'+c+'" required>'+
					    '</div>'+
					'</div>'+
					'<div class="col">'+
						'<div class="form-group">'+
					      '<label for="descripcion'+c+'">Cantidad:</label>'+
					     ' <input type="number" class="form-control" name="cantidad'+c+'" required>'+
					    '</div>'+
					'</div>'+
				'</div>'+

				'<div class="row">'+
					'<div class="col">'+
						'<div class="form-group">'+
					      '<label for="pwd">Importe por Unidad:</label>'+
					      '<input type="number" step="0.1" class="form-control" id="pwd" name="precio'+c+'" required>'+
					    '</div>'+
					'</div>'+
				'</div>'+ 
				'<button type="button" id="btnQuitarItem'+c+'" class="btn btn-primary btnQuitarItem">Quitar Item'+c+'</button>' + 
			'</div> ');
			  $(".btnQuitarItem").click(function(){
			  		c -= 1;
			  		document.getElementById("contador").value = c;
					var id = $(this).attr('id');
					//id=id[id.length()];
					id = id.split("m");//obtengo el numero ya que esta al final
					id = id[1];
					var idAEliminar = "#item"+id;
					//alert(idAEliminar);
					$(idAEliminar).remove();
				});
			
		});
		$('#btnPasarAItems').click(function(){
			//alert("a");
			$("#myOtros").hide();
			$("#btnPasarAItems").hide();
			$("#myItems").show();
			$("#btnAgregarItem").show();
			$("#btnVolverDeItems").show();
		});
		
		$("#btnVolverDeItems").click(function(){
			
			$("#myOtros").show();
			$("#btnPasarAItems").show();
			$("#myItems").hide();
			$("#btnVolverDeItems").hide();
			$("#btnAgregarItem").hide();
		});

		$("#formulario").submit(function(){
			var x = document.getElementById("idTarjeta").value;
			var regex=/^[0-9]+$/;
			if(!x.match(regex)){
				alert("El identificador de la tarjeta deben ser solo numeros");
				return false;
			}
		});

		$("#medio").change(function(){
			if($("#medio").val() == "Efectivo"){
				$("#identificador").hide();
			}else{
				$("#identificador").show();
			}
		});

		var filtrarProvincias = function(){
		var selected = $('#idpais').val();
		let url = "/egresos/"+selected;
		$('#provincia').empty();
		$.getJSON(url,null,function(data){
	 	   data.forEach(function(element,index){
		      $('#provincia').append('<option value="'+element+'">'+element+'</option>');
		   });
		});
	}
		var filtrarCiudades = function(){
			var prov = $("#provincia").val();
			var pais = $("#idpais").val();
			let url = "/egresos/"+pais+"/"+prov;
			console.log(url);
			$("#ciudad").empty();
			$.getJSON(url,null,function(data){
	 	   data.forEach(function(element,index){
		      $('#ciudad').append('<option value="'+element+'">'+element+'</option>');
		   	});
		});
	}

		$("#idpais").change(function(e){
			$("#div-provincia").show();
			filtrarProvincias();
			
		});

		$("#provincia").change(function(){
			$("#div-ciudad").show();
			filtrarCiudades();
			
		});


		function cargarDocumento(id,input){
			document.getElementById("egresoID").value = id;
			var idEgreso = document.getElementById("egresoID").value;
			var rutaDoc = input.files[0].name;
			console.log(input.name);
			let url = "/egresos/cargarDocumento"+"?idEgreso="+idEgreso+"&rutaDoc="+rutaDoc;
			console.log(url);
			$.post(url,function(response){
				alert("Documento Cargado");
				location.reload(true);
			});

		}



	</script>
</body>
</html>
